// Flex grid for 2 columns - collapse on mobile
@mixin flex-grid {
  display: flex;
  @include mobile-screen {
    display: block;
  }

  .col {
    flex: 1;
  }

}

// Flex grid for 3 columns - collapse on mobile
@mixin flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  @include mobile-screen {
    display: block;
  }

  .col {
    width: 32%;
  }
}
