// fixed 100% width and Height for centering elements such as popups
@mixin fixed-center-wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  @include flex-center;
}

//-- Basic media queries --//

// Mobile width
@mixin mobile-screen{
  @media screen and (max-width: 640px) {
    @content;
  }
}

// tablet width
@mixin tablet-screen{
  @media screen and (max-width: 768px) {
    @content;
  }
}

// all above tablet
@mixin tablet-screen-min{
  @media screen and (min-width: 769px) {
    @content;
  }
}

// remove the border highlight on an input text element
@mixin remove-input-outline {
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
    outline: none;
  }
}